body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: red;
}

main {
    background-color: green;
}

footer {
    background-color: purple;
}

img {
    width: 200px;
    aspect-ratio: 2;
}

